@import "./partials/rotating_cards";
@import "./partials/skill";
@import "./partials/switch";
@import "./partials/cards";
@import "./partials/dark_light_toggler";

.container {
  justify-content: center;

  .col-lg-4 {
    display: flex;
    justify-content: center;
    bottom: 20px;
  }
}

.titel {
  color: #5b5c5c;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

.ITtext {
  font-family: 'Share Tech Mono', monospace;
}

.AccordionHeadDark {
  background-color: #aaa;
}

.AccordionHeadMd {
  background-color: #ccc;
}

.AccordionHeadLight {
  background-color: #eee;
}

.btnShadow {
  box-shadow: 0 15px 35px gray
}

.dropdown-menu .dropdown-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.dropdown-menu .dropdown-item {
  height: auto;
}

.theme-icon {
  width: 1rem;
  height: 1rem;
}