.card {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 500px;
  border: none;
  background-color: inherit;
}

.card .face {
  position: absolute;
  color: #0c2c44;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 15px 35px gray;
  border-radius: 15px;
  background: #cacdcf;
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.card .face.front-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .face.front-face .profile {
  width: 75%;
  height: 150px;
  border-radius: 2%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card .face.front-face .name {
  letter-spacing: 2px;
}

.card .face.front-face .technics {
  font-size: 0.8rem;
  color: #3c5264;
  letter-spacing: 0.8px;
}

.card .face.back-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #cacdcf;
  transform: rotateY(180deg);
  padding: 20px 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card .face.back-face .fa-quote-left {
  position: absolute;
  top: 25px;
  left: 25px;
}

.card .face.back-face .fa-quote-right {
  position: absolute;
  bottom: 35px;
  right: 25px;
}

.card:hover .face.front-face {
  transform: rotateY(180deg);
}

.card:hover .face.back-face {
  transform: rotateY(360deg);
}

* {
  box-sizing: border-box;
}

.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 100%;
  min-height: 100%;
}

.progressbar {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: hsl(0, 0%, 100%);
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.shadow-html {
  filter: drop-shadow(0 0 5px hsl(15, 100%, 60%));
}

.shadow-css {
  filter: drop-shadow(0 0 5px hsl(200, 100%, 60%));
}

.shadow-scss {
  filter: drop-shadow(0 0 5px hsl(300, 100%, 60%));
}

.shadow-js {
  filter: drop-shadow(0 0 5px hsl(60, 100%, 60%));
}

.shadow-ts {
  filter: drop-shadow(0 0 5px hsl(220, 100%, 60%));
}

.shadow-angular {
  filter: drop-shadow(0 0 5px hsl(0, 100%, 60%));
}

.shadow-communication {
  filter: drop-shadow(0 0 5px hsl(145, 100%, 60%));
}

.shadow-cooperation {
  filter: drop-shadow(0 0 5px hsl(189, 100%, 60%));
}

.shadow-empathy {
  filter: drop-shadow(0 0 5px hsl(73, 100%, 60%));
}

.shadow-listening {
  filter: drop-shadow(0 0 5px hsl(285, 100%, 60%));
}

.shadow-teamwork {
  filter: drop-shadow(0 0 5px hsl(251, 100%, 60%));
}

.shadow-problem {
  filter: drop-shadow(0 0 5px hsl(0, 100%, 60%));
}

.shadow-php {
  filter: drop-shadow(0 0 5px hsl(110, 100%, 60%));
}

.shadow-mysql {
  filter: drop-shadow(0 0 5px hsl(180, 100%, 60%));
}

.shadow-symfony {
  filter: drop-shadow(0 0 5px hsl(145, 100%, 60%));
}

.circle-html {
  animation: circle-animation(html, 85) 1s ease-in-out forwards;
}

.circle-css {
  animation: circle-animation(css, 75) 1s ease-in-out forwards;
}

.circle-scss {
  animation: circle-animation(scss, 70) 1s ease-in-out forwards;
}

.circle-js {
  animation: circle-animation(js, 60) 1s ease-in-out forwards;
}

.circle-ts {
  animation: circle-animation(ts, 60) 1s ease-in-out forwards;
}

.circle-angular {
  animation: circle-animation(angular, 55) 1s ease-in-out forwards;
}

.circle-communication {
  animation: circle-animation(communication, 98) 1s ease-in-out forwards;
}

.circle-cooperation {
  animation: circle-animation(cooperation, 85) 1s ease-in-out forwards;
}

.circle-empathy {
  animation: circle-animation(empathy, 95) 1s ease-in-out forwards;
}

.circle-listening {
  animation: circle-animation(listening, 86) 1s ease-in-out forwards;
}

.circle-teamwork {
  animation: circle-animation(teamwork, 94) 1s ease-in-out forwards;
}

.circle-problem {
  animation: circle-animation(problem, 90) 1s ease-in-out forwards;
}

.circle-php {
  animation: circle-animation(php, 70) 1s ease-in-out forwards;
}

.circle-mysql {
  animation: circle-animation(mysql, 70) 1s ease-in-out forwards;
}

.circle-symfony {
  animation: circle-animation(symfony, 55) 1s ease-in-out forwards;
}

.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: hsl(0, 0%, 100%);
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}

#lightSwitch {
  transform: scale(1.8);
}

.custom-theme.bg-light {
  background-color: darkslategray !important;
  border-radius: 3px;
  color: gainsboro;
  text-decoration: underline;
}

.custom-theme.bg-dark {
  background-color: blanchedalmond !important;
  box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
  color: dimgray;
  text-decoration: overline;
}

.card {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 500px;
  border: none;
  background-color: inherit;
}

.card .face {
  position: absolute;
  color: #0c2c44;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 15px 35px gray;
  border-radius: 15px;
  background: #cacdcf;
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.card .face.front-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .face.front-face .profile {
  width: 75%;
  height: 150px;
  border-radius: 2%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card .face.front-face .name {
  letter-spacing: 2px;
}

.card .face.front-face .technics {
  font-size: 0.8rem;
  color: #3c5264;
  letter-spacing: 0.8px;
}

.card .face.back-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #cacdcf;
  transform: rotateY(180deg);
  padding: 20px 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card .face.back-face .fa-quote-left {
  position: absolute;
  top: 25px;
  left: 25px;
}

.card .face.back-face .fa-quote-right {
  position: absolute;
  bottom: 35px;
  right: 25px;
}

.card:hover .front-face {
  transform: rotateY(180deg);
}

.card:hover .back-face {
  transform: rotateY(360deg);
}

* {
  box-sizing: border-box;
}

.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 100%;
  min-height: 100%;
}

.progressbar {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: hsl(0, 0%, 100%);
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.shadow-html {
  filter: drop-shadow(0 0 5px hsl(15, 100%, 60%));
}

.circle-html {
  animation: anim_circle-html 1s ease-in-out forwards;
}

.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: hsl(0, 0%, 100%);
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}

#lightSwitch {
  transform: scale(1.8);
}

.custom-theme.bg-light {
  background-color: darkslategray !important;
  border-radius: 3px;
  color: gainsboro;
  text-decoration: underline;
}

.custom-theme.bg-dark {
  background-color: blanchedalmond !important;
  box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
  color: dimgray;
  text-decoration: overline;
}

.container {
  justify-content: center;
}

.container .col-lg-4 {
  display: flex;
  justify-content: center;
  bottom: 20px;
}

.titel {
  color: #5b5c5c;
  font-family: "Share Tech Mono", monospace;
  text-align: center;
}

.ITtext {
  font-family: "Share Tech Mono", monospace;
}

.AccordionHeadDark {
  background-color: #aaa;
}

.btnShadow {
  box-shadow: 0 15px 35px gray;
}

.container {
  justify-content: center;
}

.container .col-lg-4 {
  display: flex;
  justify-content: center;
  bottom: 20px;
}

.titel {
  color: #5b5c5c;
  font-family: "Share Tech Mono", monospace;
  /* font-size: 1.5cm; */
  text-align: center;
}

.ITtext {
  font-family: "Share Tech Mono", monospace;
}

.AccordionHeadDark {
  background-color: #aaa;
}

.AccordionHeadMd {
  background-color: #ccc;
}

.AccordionHeadLight {
  background-color: #eee;
}

.btnShadow {
  box-shadow: 0 15px 35px gray;
}

/*# sourceMappingURL=styles.css.map */