@import "./partials/rotating_cards";
@import "./partials/skill";
@import "./partials/switch";
// @import "./partials/cards";
// @import "./partials/blue";

.container {
  justify-content: center;

  .col-lg-4 {
    display: flex;
    justify-content: center;
    bottom: 20px;
  }
}

.titel {
  color: #5b5c5c;
  font-family: 'Share Tech Mono', monospace;
  /* font-size: 1.5cm; */
  text-align: center;
}

.ITtext {
  font-family: 'Share Tech Mono', monospace;
}

.AccordionHeadDark {
  background-color: #aaa;
}

.AccordionHeadMd {
  background-color: #ccc;
}

.AccordionHeadLight {
  background-color: #eee;
}

.btnShadow {
  box-shadow: 0 15px 35px gray
}


// .accordion-item:nth-child(odd) {
//   background-image: url('../images/frontEndProject.png');
// }

// .accordion-item:nth-child(even) {
//   background-image: url('../images/ristoranteOnlineShop.png');
// }

// .accordion-item {
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   padding: 15px;
// }