.masthead-followup-icon {
  padding: 1rem;
  color: rgba(var(--bg-rgb), 1);
  background-color: rgba(var(--bg-rgb), 0.1);
  background-blend-mode: multiple;
  border-radius: 1rem;
  mix-blend-mode: darken
}

.masthead-followup-icon svg {
  filter: drop-shadow(0 1px 1px var(--bs-body-bg))
}

[data-bs-theme="dark"] .masthead-followup-icon {
  mix-blend-mode: lighten
}

#carbonads {
  position: static;
  display: block;
  max-width: 400px;
  padding: 15px 15px 15px 160px;
  margin: 2rem 0;
  overflow: hidden;
  font-size: .8125rem;
  line-height: 1.4;
  text-align: left;
  background-color: var(--bs-tertiary-bg)
}

#carbonads a {
  color: var(--bs-body-color);
  text-decoration: none
}

@media (min-width: 576px) {
  #carbonads {
    border-radius: .5rem
  }
}

.carbon-img {
  float: left;
  margin-left: -145px
}

.carbon-poweredby {
  display: block;
  margin-top: .75rem;
  color: var(--bs-body-color) !important
}

.bd-content>h2,
.bd-content>h3,
.bd-content>h4 {
  --bs-heading-color: var(--bs-emphasis-color)
}

.bd-content>h2:not(:first-child) {
  margin-top: 3rem
}

.bd-content>h3 {
  margin-top: 2rem
}

.bd-content>ul li,
.bd-content>ol li {
  margin-bottom: .25rem
}

.bd-content>ul li>p~ul,
.bd-content>ol li>p~ul {
  margin-top: -.5rem;
  margin-bottom: 1rem
}

.bd-content>.table,
.bd-content>.table-responsive .table {
  --bs-table-border-color: var(--bs-border-color);
  max-width: 100%;
  margin-bottom: 1.5rem;
  font-size: .875rem
}

@media (max-width: 991.98px) {

  .bd-content>.table.table-bordered,
  .bd-content>.table-responsive .table.table-bordered {
    border: 0
  }
}

.bd-content>.table thead,
.bd-content>.table-responsive .table thead {
  border-bottom: 2px solid currentcolor
}

.bd-content>.table tbody:not(:first-child),
.bd-content>.table-responsive .table tbody:not(:first-child) {
  border-top: 2px solid currentcolor
}

.bd-content>.table th:first-child,
.bd-content>.table td:first-child,
.bd-content>.table-responsive .table th:first-child,
.bd-content>.table-responsive .table td:first-child {
  padding-left: 0
}

.bd-content>.table th:not(:last-child),
.bd-content>.table td:not(:last-child),
.bd-content>.table-responsive .table th:not(:last-child),
.bd-content>.table-responsive .table td:not(:last-child) {
  padding-right: 1.5rem
}

.bd-content>.table th,
.bd-content>.table-responsive .table th {
  color: var(--bs-emphasis-color)
}

.bd-content>.table strong,
.bd-content>.table-responsive .table strong {
  color: var(--bs-emphasis-color)
}

.bd-content>.table th,
.bd-content>.table td:first-child>code,
.bd-content>.table-responsive .table th,
.bd-content>.table-responsive .table td:first-child>code {
  white-space: nowrap
}

.table-options td:nth-child(2) {
  min-width: 160px
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px
}

.table-swatches th {
  color: var(--bs-emphasis-color)
}

.table-swatches td code {
  white-space: nowrap
}

.bd-title {
  --bs-heading-color: var(--bs-emphasis-color);
  font-size: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
  .bd-title {
    font-size: 3rem
  }
}

.bd-lead {
  font-size: calc(1.275rem + .3vw);
  font-weight: 300
}

@media (min-width: 1200px) {
  .bd-lead {
    font-size: 1.5rem
  }
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentcolor
}

@media (min-width: 992px) {
  .border-lg-start {
    border-left: var(--bs-border-width) solid var(--bs-border-color)
  }
}

.bd-summary-link {
  color: var(--bs-link-color)
}

.bd-summary-link:hover,
details[open]>.bd-summary-link {
  color: var(--bs-link-hover-color)
}